click==6.7
Flask==1.0.2
Flask-SocketIO==3.0.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
-e git+git@github.com:liona24/pokergame.git@1b72001ac785ffe4dd7dd9103db08d9f16018c2b#egg=pokergame
python-engineio==2.2.0
python-socketio==2.0.0
six==1.11.0
Werkzeug==0.14.1
